.button {
  box-sizing: border-box;
  display: block;
  width: 260px;
  height: 50px;
  margin: 0 auto;
  border: 2px $gray solid;
  background-color: transparent;
  color: $gray;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.button_width {
  margin: 0 auto;
  width: 190px;
}
