.features {
  @include wrapper(260px)
  padding: 35px 30px 60px;
}

.features__title {
  margin: 0;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-top: 90px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

@media (min-width: 768px) {
  .features {
    @include wrapper(668px)
    padding-left: 0;
    padding-right: 0;
  }
  .features__title {
    font-size: 43px;
    line-height: 1;
  }
  .features__list {
    font-size: 0;
  }
  .features__item {
    display: inline-block;
    width: 300px;
    padding-right: 30px;
    font-size: 20px;
  }
}

@media (min-width: 1150px) {
  .features {
    @include wrapper(700px)
  }
  .features__title {
    font-size: 53px;
    line-height: 1;
  }
}








