.header {
  min-height: 80px;
  text-align: center;
}

.header__logo {
  margin-top: 20px;
}

.header__menu {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  list-style: none;
}

.header__link {
  display: none;
  padding: 30px 0 30px 75px;
  color: #000;
  text-decoration: none;
}
