.header__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 80px;
}

.header__logo {
  margin: 22px auto;
}

.header__navigation {
  font-size: 17px;
  line-height: 25px;
  font-weight: bold;
}

.header__menu-item {
  box-shadow:  0 -1px 0 $gray-light;
}

.header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__link {
  @include wrapper(320px);
  box-sizing: border-box;
  display: block;
  padding: 26px 0 26px 75px;
  color: #000;
  text-decoration: none;
}


@media (min-width: 768px) {

  .header {
    border-bottom: solid 1px $gray-light;
  }

  .header__wrapper {
    @include wrapper(668px);
    position: relative;
  }

  .header__logo {
    margin: 27px auto 27px 0;
  }

  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    z-index: 20;
  }

  .header__menu-item {
    box-shadow: none;
  }

  .header__menu-item:nth-child(-n+2) {
    align-self: flex-end;
  }

  .header__link {
    width: auto;
    padding: 33px 0 0;
    font-size: 15px;
  }

}

@media (min-width: 1150px) {

  .header__wrapper {
    @include wrapper(1050px);
    display: block;

    // outline: solid red;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .header__menu {
    position: static;
    width: auto;
    height: auto;
    justify-content: flex-start;
  }

  .header__order {
    margin-right: auto;
  }

  .header__search {
    margin-left: auto;
  }

  .header__link {
    padding: 33px 30px;
  }

}
