.production {
  @include wrapper(260px);
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  box-shadow: inset 0 0 0 1px $gray-light;
}

.production__title {
  padding: 30px 0 30px 90px;
  margin: 0;
  color: #000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.production__text {
  padding: 35px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

.production__button {
  margin: 0 auto;
}


@media (min-width: 768px) {
  .production {
    @include wrapper(668px);
    margin-bottom: 60px;
  }

  .production__picture {
    order: 2;
    // margin: 0 auto;
  }

  .production__title {
    font-size: 20px;
  }
  .production__text {
    padding: 0 40px 35px;
    font-size: 15px;
  }

  .production__button {
    width: 585px;
  }
}

@media (min-width: 1150px) {
  .production {
    @include wrapper(1050px);
    @include clearfix;
    display: block;
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .production__button {
    width: 230px;
  }

  .production__title {
    padding-top: 100px;
  }
  .production__title,
  .production__text {
    float: left;
    width: 230px;
    padding-left: 80px;
  }

  .production__button {
    float: left;
    width: 230px;
    margin-left: 80px;
  }
}
