.product {
  @include wrapper;
}

.product__title {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.product__hit {
  padding-bottom: 30px;
  margin: 0;
  color: $green-light;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.product__text {
  margin: 0;
  padding-bottom: 30px;
  line-height: 24px;
}

.product__picture {
  margin-bottom: 25px;
}

.product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 25px;
}
